div[id^="container-"] {
    margin: 2px;
    padding: 2px;
    background-color: var(--bgColor);
    /*  position: absolute; */
}

[id^="collection-"] {
    margin: 2px;
    grid-column-start: span var(--columns);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: chocolate;
    /* place-self: center center; */
    background-color: #526ec7;
}

img {
    /* display: block; */
    width: 100%;
    max-height: calc(2 * var(--thumbnailSize));
    object-fit: contain;
    border-color: #de1212;
}

[id^="images"] {
    margin: 2px auto;
    display: grid;
    grid-template-rows: masonry;
    max-width: 100vw;
    /* max-height: calc(var(--screenHeight) - 100px);
    min-height: 200px; */
    background-color: var(--bgColor);
    grid-template-columns: repeat(var(--columns), 1fr);
    min-width: calc(var(--thumbnailSize) * var(--columns));
}

#firstDiv {
    /* display: flex;
    justify-content: center; */
    margin: auto;
    max-height: 100vh-100px;
    min-height: 200px;
}

.imageToolBar {
    height: 32px !important;
    min-width: 1px;
    border: 2px solid #52c783;
    display: flex;
    align-items: center;
    /*定义body的元素垂直居中*/
    justify-content: center;
    background-color: beige;
    visibility: visible;
    -webkit-transition: visible 2s ease-in-out 5s;
    -moz-transition: visible 2s ease-in-out 5s;
    -o-transition: visible 2s ease-in-out 5s;
    -ms-transition: visible 2s ease-in-out 5s;
    transition: visible 2s ease-in-out 5s;
}

.imageToolButton {
    -moz-user-focus: normal;
    padding: 2px 5px;
    margin: 1px 3px;
    border: 2px solid #526ec7;
}

.imageToolbox {
    margin-right: 10;
    min-width: 10px;
    min-height: 32px;
    /* border: 1px solid #c75283; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: beige;
}

.imageToolbox:hover .imageToolBar {
    visibility: visible;
    display: flex;
}

.imageToolbox:not(:hover):after {
    content: '●●●'
}

.imageToolbox:not(:hover) .imageToolBar {
    visibility: hidden;
    display: none;
}


/* .imageToolbox:after:not(:hover) .imageToolBar {
    visibility: hidden;
    display: none;
} */